header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
div.clip {
    section{
        grid-template-columns: 200px auto;
        column-gap: 8px;
    } // end section
} // end parent


/* mask */
div.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}