header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
div.parent {
    section{
        grid-template-columns: 200px auto;
        column-gap: 8px;
    } // end section
} // end parent