/* NAVIGATION STUFF GOES HERE  */
#theButton {
    display: none;
}
#theNav {
    background-color: #333;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        border-right: 1px solid rgba(0,0,0,0.1);
    }
    li a {
        display: block;
        padding: .75rem 2vw;
        color: #fff;
        text-decoration: none;
    }
    
    li a {
        padding: .9rem 1.2rem;
        display: block;
        color: #fff;
        text-decoration: none;
    }
    li a:hover {
        background-color: rgba(0, 0, 0, .3);
    }
    .parent>a::before {
    content: "\25BC";
    font-size: .75rem;
    color: rgba(255, 255, 255, .5);
}
    li.active a {
        background-color: $secondaryColor;
}
    //rules for the sub menu items
    li ul {
        background-color: $primaryColor;
        list-style-type: none;
        padding: 0;
        position: absolute;
        left: -999rem;
    }
    li ul li {
        border-top: solid 1px rgba(0,0,0,0.5);
    }
    li:hover ul {
        left: auto;
    }

}

// image mask
div.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}








div.clip {
    section{
        display: grid;
        grid-template-columns: 140px auto;
        column-gap: 4px;
        padding: 10px;
    
    } // end section
} // end parent